---
import BaseLayout from './BaseLayout.astro';
import authors from '../pages/_cms/authors.json';
const { content } = Astro.props;
const dateOptions: {month: 'short', day: 'numeric', year: 'numeric'} = {month: 'short', day: 'numeric', year: 'numeric'}
const author = authors.authors.filter(author => {return (author.id === content.author[0].value)})[0]
---

<BaseLayout title={content.title}>
  <div class="pb-20">
    <div class="py-20 mb-12" style={`background: url(${content.image}); background-repeat: no-repeat; background-size: cover;`}>
      <div class="container mx-auto px-4">
        <div class="max-w-2xl mx-auto text-center">
          <!-- <a class="uppercase text-base lg:text-xl text-green-500 hover:text-green-400 hover:underline" href="#">Travel</a> -->
          <span class="text-base lg:text-xl text-white drop-shadow">{new Date(content.publishDate).toLocaleDateString('en-US', dateOptions)}</span>
          <div class="mt-2">
            <h2 class="mb-6 text-4xl lg:text-5xl text-white font-bold drop-shadow">{content.title}</h2>
            <div class="flex justify-center">
              <div class="mr-4">
                <img class="w-12 h-12 object-cover object-top rounded-full" src={author.profilePhoto} alt={`${author.title}'s Profile Photo'`}>
              </div>
              <div class="text-left">
                <a href={author.website}>
                  <h3 class="text-white hover:underline font-bold drop-shadow-md">{author.title}</h3>
                </a>
                <a href={author.website}>
                  <span class="text-xs text-green-500 font-bold drop-shaow-md">Author</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container mx-auto px-2">
      <article class="max-w-2xl mx-auto lg:p-4 p-2 bg-gray-100 rounded-md prose lg:prose-xl prose-a:text-blue-600 hover:prose-a:text-green-500 prose-a:transition hover:prose-a:no-underline">
        <slot />
      </article>
    </div>
  </div>
</BaseLayout>